[Desktop Entry]
Name=PyAnalySeries
Exec=bash -c "~/PyAnalySeries/PyAnalySeries.sh"
Icon=~/PyAnalySeries/resources/PyAnalySeries_icon.png
Path=~/Desktop
Terminal=false
Type=Application
Categories=Development
