[Desktop Entry]
Name=PyAnalySeries
Exec=/home/YOURLOGIN/PyAnalySeries/PyAnalySeries.sh
Icon=/home/YOURLOGIN/PyAnalySeries/resources/PyAnalySeries_icon.png
Path=/home/YOURLOGIN/PyAnalySeries
Terminal=false
Type=Application
Categories=Development
