[Desktop Entry]
Name=PyAnalySeries
Exec=bash -c "~/PyAnalySeries/PyAnalySeries.sh"
Icon=~/bitmap.png
Path=~/Desktop
Terminal=false
Type=Application
Categories=Development
