QWidget {
    background-color: white;
    color: black;
}

QGroupBox {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 10px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 5px;
    background-color: white;
}

QLabel, QCombox, QCheckBox {
    padding: 10px 10px;
}
